h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
nav{text-align: center;}

footer{text-align: center;}

header{background-color: blueviolet;}

p{text-align: center;}

h5{text-align: center;}

footer{background-color: black;}

p{color: wheat;}

a{text-decoration: none;}

#orlap{color: black;}

h3{text-align: center;}
form{
    width: 400px;
    height: 300px;
}

fieldset{margin: 70px 450px;}

footer{
position: absolute;
left;0 bottom; width: 100%
}